<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="Shortcut Icon" href="../img/mindlabs3.png">

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <!-- icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="contact">
        <header>
            <img src="../img/mindlabs6.png" alt="logo">
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="#about">
                    <li>about</li>
                </a>
                <a href="../template/services.html">
                    <li>services</li>
                </a>
                <a href="../template/contact.html">
                    <li>contact</li>
                </a>
            </ul>
            <a class="btn" href="#">start project</a>
        </header>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.808336677756!2d-9.589840697417875!3d30.412882470778513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b6f9ab15c72f%3A0x48182b87161851df!2sEcole%20eWA!5e0!3m2!1sar!2sma!4v1681383696123!5m2!1sar!2sma"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <section class="section-contact">
            <form action="https://formspree.io/f/mrgvoorj" method="POST">
                <div class="one">
                    <label for="firstname"></label>
                    <input type="text" name="firstname" autofocus placeholder="first name" id="name" required
                        autocomplete="off" />
                    <label for="lastname"></label>
                    <input type="text" name="lastname" placeholder="last name" id="lastname" required
                        autocomplete="off" />
                </div>
                <label for="email"></label>
                <input type="email" name="email" placeholder="youremail@mail.com" id="email" autocomplete="off"
                    required />
                <label for="subject"></label>
                <input type="text" name="subject" placeholder="subject" id="subject" autocomplete="off" required />
                <label for="textarea"></label>
                <textarea name="textarea" id="textarea" cols="30" rows="10" autocomplete="off"
                    placeholder="Write your message" required></textarea>

                <!-- your other form fields go here -->
                <button class="btn" type="submit">send message</button>
            </form>
        </section>
    </div>
    <footer id="contact">
        <div class="bgf">
            <div class="one">
                <img src="../img/mindlabs6.png" alt="logo">
                <p>Mindlabs ayant une expérience dans toutes les facettes du développement web pour aider nos clients a
                    atteindre leur plein potentiel.
                    Nous adaptons une approche globale du développement web, du codage a la conception et au contenu
                    web.
                    Nous pouvons vous aider avec tous vos besoins.</p>
            </div>
            <div class="two">
                <h4>Pages</h4>
                <ul>
                    <li><a class="blue" href="../index.html">Home</a> </li>
                    <li><a class="blue" href="./services.html">Services</a> </li>
                    <li><a class="blue" href="./contact.html">Contact</a> </li>
                    <li><a class="blue" href="./contact.html">Start Project</a> </li>
                </ul>
            </div>
            <div class="three">
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="./services.html">E-COMMERCE</a></li>
                    <li><a href="./marketing.html">Marketing</a></li>
                </ul>
            </div>
            <div class="four">
                <h4>GET IN TOUCH</h4>
                <ul>
                    <li><a href="mailto:mahdiridmani22@gmail.com">Contact@Mindlabs-agency.com</a></li>
                    <li><a href="mailto:mahdiridmani22@gmail.com">Contact@Mindlabs-agency.com</a></li>
                </ul>
            </div>
            <div class="five">
                <h4>Follow us</h4>
                <ul>
                    <li><a target="_blank" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <p>Copyright © 2023 Mindlabs, All rights reserved</p>
    </footer>
</body>

</html>