<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="Shortcut Icon" href="../img/mindlabs3.png">

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <!-- icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="services">

        <header>
            <img src="../img/mindlabs6.png" alt="logo">
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="./services.html">
                    <li>E-COMMERCE</li>
                </a>
                <a href="#">
                    <li>Marketing</li>
                </a>
                <a href="../template/contact.html">
                    <li>contact</li>
                </a>
            </ul>
            <a class="btn" href="#">start project</a>
        </header>
        <div class="section_one" style="height: 100vh;">
            <img style="width: 950px; " src="../img/Marketing-home-image.png" alt="">
            <div class="text">
                <h2> DIGITAL MARKETING
                </h2>
                <p style="width: 41rem;">Pour réussir votre stratégie digitale, il faut prendre le temps d’analyser et
                    de comprendre votre
                    audience, ce qu’elle fait, qui elle est, où elle va, comment lui parler…
                    Notre rôle au MINDLABS, c’est de vous aider à identifier les meilleurs canaux d’acquisition
                    (Référencement naturel SEO, référencement payant SEA / Social Ads, Content Marketing, email
                    marketing…) en fonction de vos enjeux, de votre cible et de vos ressources.
                </p>
            </div>
        </div>
        <footer id="contact">
            <div class="bgf">
                <div class="one">
                    <img src="../img/mindlabs6.png" alt="logo">
                    <p>Mindlabs ayant une expérience dans toutes les facettes du développement web pour aider nos
                        clients a atteindre leur plein potentiel.
                        Nous adaptons une approche globale du développement web, du codage a la conception et au contenu
                        web.
                        Nous pouvons vous aider avec tous vos besoins.</p>
                </div>
                <div class="two">
                    <h4>Pages</h4>
                    <ul>
                        <li><a class="blue" href="../index.html">Home</a> </li>
                        <li><a class="blue" href="./services.html">Services</a> </li>
                        <li><a class="blue" href="./contact.html">Contact</a> </li>
                        <li><a class="blue" href="./contact.html">Start Project</a> </li>
                    </ul>
                </div>
                <div class="three">
                    <h4>SERVICES</h4>
                    <ul>
                        <li><a href="./services.html">E-COMMERCE</a></li>
                        <li><a href="./marketing.html">Marketing</a></li>
                    </ul>
                </div>
                <div class="four">
                    <h4>GET IN TOUCH</h4>
                    <ul>
                        <li><a href="mailto:mahdiridmani22@gmail.com">Contact@Mindlabs-agency.com</a></li>
                        <li><a href="mailto:mahdiridmani22@gmail.com">Contact@Mindlabs-agency.com</a></li>
                    </ul>
                </div>
                <div class="five">
                    <h4>Follow us</h4>
                    <ul>
                        <li><a target="_blank" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.instagram.com"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.linkedin.com"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Copyright © 2023 Mindlabs, All rights reserved</p>
        </footer>
    </div>
</body>

</html>